<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

	</startup>

	<appSettings>
		
		<add key="pathDemoApp" value="C:\Users\bani0\source\repos\DemoApp,C:\Users\User\Desktop\newProject\DemoApp" />

		<add key="xmlFilePath" value="C:\Users\bani0\source\repos\WatcherProject1\WatcherProject1\bin\Debug\TestResult.xml,C:\Users\User\Desktop\newProject\WatcherProject\WatcherProject\WatcherProject1\bin\Debug\TestResult.xml" />


		<add key="solutionFile" value="D:\DemoApp\DemoApp.sln,C:\Users\User\Desktop\newProject\DemoApp\DemoApp.sln" />


		<add key="MSBuild" value="C:\Program Files\Microsoft Visual Studio\2022\Community\Msbuild\Current\Bin\MSBuild.exe," />


		<add key="nunitConsole" value="C:\Users\bani0\.nuget\packages\nunit.consolerunner\3.15.0\tools\nunit3-console.exe,C:\Users\User\.nuget\packages\nunit.consolerunner\3.15.0\tools\nunit3-console.exe" />
		<add key="nunitDLL" value="C:\Users\bani0\source\repos\DemoApp\UnitTestProject1\bin\Debug\UnitTestProject1.dll,C:\Users\User\Desktop\newProject\DemoApp\UnitTestProject1\bin\Debug\UnitTestProject1.dll" />

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>